body, html{
  background-color: black;
  background-image: url(https://i.redd.it/ua66qc428wo41.jpg);
  font-family: helvetica;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1{
  font-size: 2em;
}

h3{

}

p {
  /* background-color: pink; */
  border: solid;
  width: 100%;
  height: 100%;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dwight {
  width: 60%;
  height: 20%;
}

.dwight-token {
  width: 3em;
  height: 2em;
}

.game-board-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  width: 35%;
}

.game-board-area {
  /* background-image: url(https://images.unsplash.com/photo-1507925921958-8a62f3d1a50d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80); */
  /* background-image: url(https://images.unsplash.com/photo-1586074299757-dc655f18518c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80); */
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.jim {
  width: 62%;
  height: 22%;
}

.jim-token {
  width: 3em;
  height: 2.1em;
}

.logo {
  width: 20em;
  height: 25%;
}

.rows {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.player-one-column {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-text {
  display: flex;
}
.player-one-wins {
  display: flex;
}
.player-wins-counter {
  display: flex;
}
.player-two-column {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-two-wins {
  display: flex;

}
